<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ClairInspect · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="phase-banner">
          <div>
            <span>ALPHA</span>
          </div>
        </div>
        <div class="page--container">
          <div class="fip-container">
            <div class="canada-flag">
              <img src="<%= Routes.static_path(@conn, "/images/sig-blk-en.svg") %>" alt='Government of Canada' />
            </div>
          </div>
        </div>
      </header>
      <main>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
